# Построение графиков

In [ ]:
# Построение графика распределения
sns.histplot(final_result_own['owner_gmv'], bins=70, color='darkblue', edgecolor='black', kde=True)

# Установка делений на оси X
# ticks = list(range(0, 500000, 250000)) + list(range(500000, 10000000, 5000000))  # Четные от 0 до 16 и десятки от 20 до 70
ticks = list(range(0, 600000000, 100000000))
plt.xticks(ticks=ticks, labels=[str(i) for i in ticks])

# # Установка делений на оси Y
# plt.ylim(1, 250000) 
# # Установка делений на оси Y с шагом 1000
# plt.yticks(np.arange(0, 250000, 50000))

# Подписи осей и заголовок
plt.xlabel('Оборот')
plt.ylabel('Количество селлеров')
plt.title('Оборот селлера')

# Показать график
plt.tight_layout()
plt.show()

In [ ]:
# Построение графика распределения с ограничением по высоте
sns.histplot(final_result_own['owner_gmv'], bins=70, color='darkgreen', edgecolor='black')
# Установка делений на оси X

ticks = list(range(0, 100000000, 50000000)) + list(range(100000000,  600000000, 100000000)) 

# ticks = list(range(0, 600000000, 100000000))
plt.xticks(ticks)

plt.ylim(1, 30) 
# Установка делений на оси Y с шагом 1000
plt.yticks(np.arange(0, 30, 10))


# Подписи осей и заголовок
plt.xlabel('Оборот')
plt.ylabel('Количество селлеров')
plt.title('Оборот селлера')

# Показать график
plt.tight_layout()
plt.show()

# GMV селлеров

In [ ]:

# селлеры, и их gmv за последние 4 месяца

all_sellers = get_sql_gp(

"""
with 

-- только актуальные карточки товаров
act_card as (
    select 
        supplierid as old_id, 
        parentid as parent_id
    from item_dicts.cards_new
    where 1=1
        and not isdeleted 
        and picscount > 0
    group by supplierid, parentid
)

-- словарь карточки товара и родительской категории
, dict as (
    select distinct
        supplierid as old_id,
        nm_id,
        sub.parent_id as parent_id
    from item_dicts.nm_subject as sub
    join act_card
        on sub.supplierid  = act_card.old_id
        and sub.parent_id  = act_card.parent_id
    where sub.isdeleted = 'False'
)

-- получаю карточку товара и gmv по селлерам по селлерам за последние 4 месяца

    select 
        supplier_id as old_id,
        dt_month,
        count(distinct g.nm_id) as cnt_nm,
        sum(amount_buyout) as gmv_nm
    from loyalty.ananas_gmv as g
    join dict 
        on g.supplier_id = dict.old_id
        and g.nm_id = dict.nm_id
    
    where dt_month between '2024-10-01' and '2025-02-01' -- 4 месяца
    group by supplier_id, dt_month
    having sum(amount_buyout)>1000
    
"""   
)
all_sellers

## Расчет среднего значения с учетом нулей

In [ ]:
# посчитаю среднюю полученную скидку за 4 месяца (без учета 0)
# нам не подходит mean: есть месяцы, в которые селлер ничего не продавал/не был в лояльности
# Функция для расчета средневзвешенного значения
def calculate_weighted_average(column):
    non_zero_count = (column != 0).sum()  # Количество ненулевых значений
    total_sum = column.sum()  # Сумма значений
    if non_zero_count > 0:
        return total_sum / non_zero_count
    return 0  # Если все значения нулевые


# Группировка по old_id и расчет средневзвешенных значений
averages = loyal_level_.groupby('old_id').agg(
    average_storage_sum=('storage_sum', calculate_weighted_average),
    average_delivery_sum=('delivery_sum', calculate_weighted_average),
    average_gmv=('gmv', calculate_weighted_average)
).reset_index()

## Проставляю группу по обороту

In [ ]:
# богатые
bins = [0, 10000000, 20000000, 30000000, 40000000, 50000000, 60000000, np.inf]
labels = ['до 10млн', '10млн - 20млн', '20млн - 30млн', '30млн - 40млн', '40млн - 50млн', '50млн - 60млн', '60млн +']

# базовое деление 
bins = [0, 50000, 100000, 500000, 1000000, 5000000
        10000000, np.inf]
labels = ['до 50к', '50к - 100к', '100к - 500к', '500к - 1млн', '1млн - 5млн', '5млн - 10млн',
          '10млн +']

# тотал
bins = [0, 50000, 100000, 500000, 1000000, 5000000
        10000000, 20000000, 30000000, 40000000, 50000000, 60000000, np.inf]
labels = ['до 50к', '50к - 100к', '100к - 500к', '500к - 1млн', '1млн - 5млн', '5млн - 10млн',
          '10млн - 20млн', '20млн - 30млн', '30млн - 40млн', '40млн - 50млн', '50млн - 60млн', '60млн +']


# Создаем новый столбец 'group' на основе значений в 'gmv'
rich['group'] = pd.cut(rich['gmv'], bins=bins, labels=labels, right=False)
rich


# Создаем новый столбец 'group' на основе значений в 'gmv'
rich['group'] = pd.cut(rich['gmv'], bins=bins, labels=labels, right=False)
rich

## Корректная сортировка

In [ ]:
# Пример создания DataFrame
data = {
    'income_range': ['до 50к', '500к - 1млн', '50к - 100к', '10млн +', '1млн - 5млн', '100к - 500к', '5млн - 10млн']
}
df = pd.DataFrame(data)

# Определение порядка сортировки
order = ['до 50к', '50к - 100к', '100к - 500к', '500к - 1млн', '1млн - 5млн', '5млн - 10млн', '10млн +']

# Преобразование столбца в категориальный тип с заданным порядком
df['income_range'] = pd.Categorical(df['income_range'], categories=order, ordered=True)

# Сортировка DataFrame и не выводить строки с 0
df_sorted = df.sort_values('income_range').query('count > 0')

# Тип данных

In [ ]:
# тип данных 
averages.dtypes

In [ ]:
# привести к типу данных 
# привожу к одному типу
loyal_click_s['old_id'] = loyal_click_s.old_id.astype('int64')
loyal_level['old_id'] = loyal_level.old_id.astype('int64')
loyal_click_s['month'] = loyal_click_s.month.astype('str')
loyal_level['month'] = loyal_level.month.astype('str')

# изменение типа данных в одну строку
df = df.astype({'col_float1': 'int', 'col_float2': 'int', 'col_string': 'str'})

In [ ]:
# Заполнить nan на 0 
df['A'] = df['A'].fillna(0)

# Вывод датафрейма

In [ ]:
# Установить максимальную ширину столбца на None
pd.set_option('display.max_colwidth', None)  

# Установить кол-во строк для вывода
pd.set_option('display.max_rows', 10)

In [ ]:
# чтобы не показывало числа черезe+4 Устанавливаем формат отображения чисел
pd.set_option('display.float_format', lambda x: '%.2f' % x)


# Форматируем числа с разделением разрядов
df['gmv'] = df['gmv'].apply(lambda x: f"{x:_}")
df

# Агрегаты и операции с df

In [ ]:
# посчитать уникальное кол-во по группам 
averages.groupby('group', observed=False).size().reset_index(name='count')

# по нескольким атрибутам
full_info.groupby(by = ['tariff_id', '_merge'], observed=False).size().reset_index(name='count')

# не выводить строки, в которых count = 0
full_info.groupby(by=['tariff_id', '_merge'], observed=False).size().reset_index(name='count').query('count > 0')

# переписать индекс
full_info.groupby(by=['tariff_id', '_merge', 'group'], observed=False).size().reset_index(name='count').query('count > 0').reset_index(drop = True)



# посчитать % от группы и % отн всех

fin_view_group = result_without_user.groupby(by=['view_communication', 'group'], observed=False).size().reset_index(name='count').sort_values('view_communication', ascending = False).query('count > 0')
fin_view_group['% отн view'] = fin_view_group.groupby('view_communication')['count'].transform(lambda x: 100 * x / x.sum()).round(2)
fin_view_group['% отн тотал'] = fin_view_group['count'].transform(lambda x: 100 * x / x.sum()).round(2)

In [ ]:
# посчитать сумму по всем полям
summed_df = df.groupby('group_col', as_index=False).sum()

# сумма
 # Группируем данные по 'Name' и 'Fruit', подсчитываем значения в 'Number'
df_summary = df.groupby(['Name', 'Fruit'])['Number'].sum().reset_index()

# посчитать сумму по нескольким столбцам
potential_ = potential.groupby(by=['tariff_id'], observed=False).agg(
    {'positive_cnt': 'sum',
    'negative_cnt': 'sum'
    }
).reset_index()

# Расчет статистических показателей в один запрос
stats_df = df['count_parent'].agg(['max', 'min', 'mean', 'median']).reset_index()
stats_df.columns = ['Statistic', 'Value']  # Переименование столбцов


# посчитать долю отн тотала
# доля во всех строках count отн суммы по count
result_without_user_int['count'].transform(lambda x: 100 * x / x.sum())

# доля Salary отн группировки по Department
df.groupby('Department')['Salary'].transform(lambda x: x/x.sum())

# И напротив каждой строки будет указана минимальная сумма з/пл в отделе.
df['min'] = df.groupby('Department')['Salary'].transform('min')

In [ ]:
#  посчитаем среднее и медианное значение в группе 
df.groupby('subscription')['gmv'].agg(['mean', 'median']).reset_index()

# сделаем то же самое, но с кастомным названием и делением значения на 1млн (для краткого представления инфы)

jam_wind_gmv.groupby('subscription', observed=False).agg(
    Средний_GMV_млн=('gmv', lambda x: x.mean() / 1_000_000),
    Медианный_GMV_млн=('gmv', lambda x: x.median() / 1_000_000),
    Количество_селлеров=('old_id','nunique')
).reset_index()

In [ ]:
# просуммировать значения по столбцам line_columns датафрейма segment_cnt

# названия столбцов для суммы
line_columns = ['line 1', 'line 2', 'line 3', 'line 4', 'line 5']
# сумма по столбцам - лист
total_sum = segment_cnt[line_columns].sum()
# датафрейм из  листа
line_sum = pd.DataFrame(total_sum).reset_index()
# Переименовываем столбцы
line_sum.columns = ['line', 'total']  
line_sum

In [ ]:
# Найти дубли 
df.duplicated()
df['id'].duplicated()

# Удаляем дубликаты по столбцам 'A' и 'C'
df_unique = df.drop_duplicates(subset=['A', 'C'])  # Subset – надежный помощник в работе с дубликатами!

In [ ]:
# Отсортировать df по нескольким полям
check_.sort_values(by = ['group', 'info', 'finance_id'], ascending = [True, False, True] )

In [ ]:
# Удалить колонки
check = check.drop(columns = 'Unnamed: 0')

In [ ]:
# Объединить два df 
check_ = check.merge(full_info_, on = 'old_id', how = 'inner', indicator = True
                    )

In [ ]:
# Переименовать поля 
window_ = window_.rename(columns={'supplier_id':'old_id', 'supplier_uuid':'supplier_id'})

both['_merge'] = both['_merge'].cat.rename_categories({'left_only':'jam', 'right_only':'window'})

# Добавить новое поле по условиям

In [ ]:
# если первый и второй user не равен owner_id и comment = ''
sorted_df['comment'] = sorted_df.apply(
    lambda row: 'YES' if (sorted_df['user'].iloc[0] != row['owner_id'] and 
                          sorted_df['user'].iloc[1] != row['owner_id'] and 
                          row['comment'] == '') else row['comment'],
    axis=1
)

sorted_df['comment'] = sorted_df.apply(
    lambda row: 'YES' if (sorted_df['user'].iloc[0] != row['owner_id'] and 
                          sorted_df['user'].iloc[1] != row['owner_id'] and 
                          row['comment'] == '') else 'NO',
    axis=1
)

# Преобразовать дату-время в дату

In [ ]:
wind_active['started_at'] = pd.to_datetime(wind_active['started_at'], errors='coerce')

wind_active['started_at'] = wind_active['started_at'].dt.date

# Операции с полями

In [ ]:
# заполнить NaN
df.fillna({'col1': val1, 'col2': val2}, inplace=True)


# Замена наполнения столбца по условию (нет на 0)
df['столбец'] = df['столбец'].replace('нет', 0)
# https://sky.pro/wiki/python/zamena-znacheniy-v-stolbtse-data-frame-v-pandas-varianty-resheniya/
df['A'].replace({10: 'десять', 20: 'двадцать'}, inplace=True)


# Преобразование столбца в тип int64
df['столбец'] = df['столбец'].astype('int64')

# Фильтрация строк, где level_id равно NaN
filtered_df = df[df['level_id'].isna()]

# Новый атрибут

In [ ]:
# Атрибут через where 
only_ids['new_column'] = np.where(
    (only_ids['creator_id'] != only_ids['owner_id']) & (only_ids['creator_id'] != 0),
    'Condition Met',  # Значение, если условие выполняется
    'Condition Not Met'  # Значение, если условие не выполняется
)

In [ ]:
# Добавление нового атрибута через функцию 

# Функция для вычисления нового столбца
def calculate_new_column(row):
    if row['creator_id'] == row['owner_id'] and row['creator_id'] != 0:
        return "Нет"
    elif row['creator_id'] != row['owner_id'] and row['creator_id'] != 0:
        return "Да"
    elif row['creator_id'] == 0:
        # Проверяем, есть ли users и owner_id не равен первому элементу
        if row['users'] and row['owner_id'] != row['users'][0]:
            return "Возможно"
    return None  # Если ни одно из условий не выполнено

# Применяем функцию к каждой строке
df['new_column'] = df.apply(calculate_new_column, axis=1)

In [ ]:
bins = [0, 10000000, 20000000, 30000000, 40000000, 50000000, 60000000, np.inf]
labels = ['до 10млн', '10млн - 20млн', '20млн - 30млн', '30млн - 40млн', '40млн - 50млн', '50млн - 60млн', '60млн +']

# Создаем новый столбец 'group' на основе значений в 'gmv'
rich['group'] = pd.cut(rich['gmv'], bins=bins, labels=labels, right=False)
rich

In [ ]:
((df4_metrics['avg_gmv_before_august']< 50000)|(df4_metrics['avg_gmv_before_august'].isna()), '0-50000',
        np.where (df4_metrics['avg_gmv_before_august']< 100000, '50000-100000',
        np.where (df4_metrics['avg_gmv_before_august']< 500000, '100000-500000',
        np.where (df4_metrics['avg_gmv_before_august']< 1000000, '500 000-1 000 000',
        np.where (df4_metrics['avg_gmv_before_august']< 5000000, '1000000-5000000',
    np.where (df4_metrics['avg_gmv_before_august']< 10 000 000, '5000000-10000000', '10000000+'))))))

# Объединение нескольких строк в одну строку с написанием значений через запятую

In [ ]:
# для одного old_id много категорий

# Объединение parent_id и parent_name в одну строку через запятую
# cat_ = cat.groupby('old_id').agg({
#     'parent_id': lambda x: ', '.join(x.astype(str)),  # Преобразование в строки
#     'parent_name': ', '.join
# }).reset_index()
cat_ = cat.groupby('old_id').agg({
    'parent_id': lambda x: ', '.join(x.fillna('').astype(str)),  # Преобразование в строки и замена NaN
    'parent_name': lambda x: ', '.join(x.fillna(''))  # Аналогично для parent_name
}).reset_index()

cat_

# Транспонирование датафрейма

In [2]:
search_.T

# один из столбцов поставить в название 
search_.set_index('tariff_id').T

# сохранила вид типа данных (что было инт - осталось без плавающей точки, а что было float - осталось float)
search_positive.astype(str).set_index('tariff_id').T

In [ ]:
# Выделить из df=only_ids_ строки, в которых атрибут owner_id находится в списке single_user_ids
only_ids_one_user = only_ids_[only_ids_['owner_id'].isin(single_user_ids)]


 # в которых атрибут owner_id НЕ находится в списке single_user_ids

only_ids_sev_users = only_ids_[only_ids_['owner_id'].~isin(single_user_ids)]

# Разделитель в числа

In [ ]:
# числа с разделением разрядов _
df['gmv'] = df['gmv'].apply(lambda x: f"{x:_}")
# разделитель запятая
line_sum['total'] = line_sum['total'].apply(lambda x: f"{x:,.2f}")
#  разделитель пробел (заменить запятую)
line_sum['total'].apply(lambda x: f"{x:,.2f}".replace(',', ' '))

# разделить на 1млн
result_full_group = jam_wind_gmv.groupby('subscription', observed=False).agg(
    Средний_GMV_млн=('gmv', lambda x: x.mean() / 1_000_000),
    Медианный_GMV_млн=('gmv', lambda x: x.median() / 1_000_000),
    Кол_во_селлеров=('old_id','nunique')
).reset_index()

# Замена значений в датафрейме

In [ ]:
gender_map = {'female': 1, 'male': 0}
df['Gender'] = df['Gender'].map(gender_map)


# или 
df['A'].replace({10: 'десять', 20: 'двадцать'}, inplace=True)

# Эксель и csv

In [ ]:
sellers = pd.read_csv('/home/baislamova.u/выгрузки/club.csv')
sellers_loyal.to_csv('/home/baislamova.u/выгрузки/club.csv', index=False)

In [ ]:
check = pd.read_excel('/home/baislamova.u/Видят ли оунеры бизнеса наши коммуникации/for_Ulyana_check.xlsx')
check_.to_excel('/home/baislamova.u/Видят ли оунеры бизнеса наши коммуникации/for_Ulyana_checked.xlsx')

In [ ]:
# Загрузка CSV файла, пропуская первую строку и используя вторую как заголовки
df = pd.read_csv('ваш_файл.csv', skiprows=1)

In [ ]:
# вытаскиваю словарь id селлеров
suppliers_dict = pd.read_csv('/home/baislamova.u/suppliers_dict.csv')
suppliers_dict = suppliers_dict.drop(columns = {'country_id', 'countrycode', 'created_at'})
suppliers_dict = suppliers_dict.rename(columns = {'_id': 'supplier_id'})
suppliers_dict